$lightMainColor: #FBFAF4;
$mediumMainColor: #EBEAE4;
$specialMainColor: #984B4B;
$lightGrayColor: #F5F5F5;
$mediumGrayColor: #D9D9D9;
$deepGrayColor: #52504B;
$whiteColor: #FFF;

.text-main-light {
  color: $lightMainColor;
}
.text-main-spec {
  color: $specialMainColor;
}
.text-deep-gray {
  color: $deepGrayColor;
}
.bg-medium-gray {
  background-color: $mediumGrayColor;
}
.bg-main-spec {
  background-color: $specialMainColor;
}
.bg-main-medi {
  background-color: $mediumMainColor;
}