$lightMainColor: #fbfaf4;
$mediumMainColor: #ebeae4;
$specialMainColor: #984b4b;
$lightGrayColor: #ebeae4;
$mediumGrayColor: #7d7c77;
$deepGrayColor: #52504b;
$whiteColor: #fff;
$focusBoxShadow: rgba(130, 130, 130, 0.25);

.text-main-light {
  color: $lightMainColor;
}
.text-main-spec {
  color: $specialMainColor;
}
.text-medium-gray {
  color: $mediumGrayColor;
}
.text-link-medium-gray {
  color: $mediumGrayColor;
  &:hover {
    color: $deepGrayColor;
  }
}
.text-deep-gray {
  color: $deepGrayColor;
}
.text-link-deep-gray {
  color: $deepGrayColor;
  &:hover {
    color: $specialMainColor;
  }
}
.bg-light-gray {
  background-color: $lightGrayColor;
}
.bg-medium-gray {
  background-color: $mediumGrayColor;
}
.bg-deep-gray {
  background-color: $deepGrayColor;
}
.bg-main-spec {
  background-color: $specialMainColor;
}
.bg-main-medium {
  background-color: $mediumMainColor;
}
.bg-main-light {
  background-color: $lightMainColor;
}
.border-main-color {
  border-color: $mediumGrayColor;
}
