// border
.container-rounded {
  border-radius: 6em;
  // md
  @media (min-width: 767.98px) {
    border-radius: 8em;
  }
  // lg
  @media (min-width: 991.98px) {
    border-radius: 10em;
  }
}
// if becomes smell 5rem
// spacing

.px-5r {
  padding-left: 5rem;
  padding-right: 5rem;
}
.py-7r {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

// list styles
.list-style-none {
  list-style: none;
}

// position
.top-30 {
  top: 30%;
}
