// border
.rounded-10em {
  border-radius: 10em;
}
// if becomes smell 5rem
// spacing

.px-5r {
  padding-left: 5rem;
  padding-right: 5rem;
}
.py-7r {
  padding-top: 7rem;
  padding-bottom: 7rem;
}
