@font-face {
  font-family: 'Noto Serif TC';
  front-weight: lighter;
  src: url('/front/Noto_Serif_TC/NotoSerifTC-Light.otf');
}
@font-face {
  font-family: 'Noto Serif TC';
  front-weight: normal;
  src: url('/front/Noto_Serif_TC/NotoSerifTC-Medium.otf');
}
@font-face {
  font-family: 'Noto Serif TC';
  front-weight: bold;
  src: url('/front/Noto_Serif_TC/NotoSerifTC-Regular.otf');
}
@font-face {
  font-family: 'Noto Serif TC';
  front-weight: bolder;
  src: url('/front/Noto_Serif_TC/NotoSerifTC-SemiBold.otf');
}