@font-face {
  font-family: 'Noto Serif TC';
  front-weight: 500;
  src: url('/public/front/Noto_Serif_TC/NotoSerifTC-ExtraLight.otf');
}
@font-face {
  font-family: 'Noto Serif TC';
  front-weight: 600;
  src: url('/public/front/Noto_Serif_TC/NotoSerifTC-Light.otf');
}
@font-face {
  font-family: 'Noto Serif TC';
  front-weight: 700;
  src: url('/public/front/Noto_Serif_TC/NotoSerifTC-Regular.otf');
}
@font-face {
  font-family: 'Noto Serif TC';
  front-weight: 800;
  src: url('/public/front/Noto_Serif_TC/NotoSerifTC-Medium.otf');
}