.swiper-button-prev,
.swiper-button-next {
  color: $mediumMainColor;
}
// 分頁
.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  border: 2px solid $mediumMainColor;
  opacity: 1;
  background: 0 0;
}
.swiper-pagination-bullet-active {
  background-color: $mediumMainColor;
}
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  left: 40%;
}
